HELP.md
target/
build/
dist/
logs/
*.log

.mvn/wrapper/maven-wrapper.jar

.env
.env.*
!.env.example

.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.factorypath
.apt_generated/
.sts4-cache/

node_modules/
package-lock.json
package.json
.prettierrc

**/target/
**/build/
!**/src/main/**/target/
!**/src/test/**/target/
